
<div style="display:none" class="content-wrapper">
   
    <p>
        The is the simple demonstration of basic features asspciated with <mark>angular.js</mark>.
        This assigninment is including 
        <a href="https://docs.angularjs.org/guide/module">Angular.js Modules</a>, 
        <a href="https://github.com/angular-ui/ui-router">UI Router</a>,
        <a href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</a>,
        <a href="https://github.com/nervgh/angular-file-upload">Angular File Upload</a>,
        <a href="https://github.com/l-lin/angular-datatables">Angular DataTable</a>
    </p>
</div>