
<h3>We will have following: {{name}}</h3>
<ol class="round">
    <li class="one">
        <h5>User List</h5>
        Show list of all Users available within system.
        <a ui-sref="users">View..</a>
    </li>

    <li class="two">
        <h5>Add New User</h5>
        Page for adding new user.
        <a ui-sref="add">Add..</a>
    </li>

    <li class="three">
        <h5>Update User</h5>
        You will be seeing list of user from which you can users update .
        <a ui-sref="users">View…</a>
    </li>
    <li class="four">
        <h5>Pricing</h5>
       Pricing and listing
        <a ui-sref="pricing">Pricing…</a>
    </li>
</ol>