
   
<div>
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-wel">Welcome to <span class="font-bv15"><span class="green-txt">v</span>ciopro</span></div>
                <hr>
                <div class="intro-desc">We are not PRO's just by our name but because of the work and the services provided to our valuable customers</div>
                <a class="btn btn-outline" href="#">View More</a>
            </div>
        </div>
    </header>
    <section id="learn" class="bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h2 class="section-heading">Learn more about <span class="green-txt">vCIO</span>Pro</h2>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-2 text-right no-padd-btn width-full"><a href="#" class="btn btn-primary btn-green">Watch Demo</a></div>
                <div class="col-xs-6 col-sm-3 col-md-2 text-left width-full"><a href="#" class="btn btn-primary btn-black">View Features</a></div>
            </div>
        </div>
    </section>
    <section id="Dashboard">
        <div class="item">
            <div class="content col-xs-12 col-md-offset-1 col-md-5">
                <h3 class="title">Blazing fast, robust,<span class="green-txt"> vCIO</span>Pro documentation software that you'll fall in love with.</h3>
                <div class="desc">
                    <p><b><span class="green-txt">vCIO</span>Pro</b> is a proven, best practices-driven IT documentation platform packed with features designed to help you maximize the efficiency, transparency and consistency of your team.</p>
                    <p>Documentation is your most precious asset… nurture it and gain instant results</p>
                </div>

            </div>
            <div class="figure col-xs-12 col-md-6 no-padd">
                <img alt="" src="~/Images/img/dashboard_bg.png" class="img-responsive">

            </div>
        </div>
        <div class="bg-grey padd30">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-2 text-right no-padd-btn width-full"><a class="btn btn-primary btn-green" href="#">Watch Demo</a></div>
                    <div class="col-xs-6 col-sm-6 col-md-2 text-left width-full"><a class="btn btn-primary btn-black" href="#">View Features</a></div>
                </div>
            </div>
        </div>
    </section>
    

   
</div>


