<!DOCTYPE html>
<html lang="en" ng-app="vcioproapp">
<head>
    <meta charset="utf-8" />    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>vCIOPro</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body id="page-top" class="index">

    @RenderBody()


    @*<script type="text/javascript" src="~/Scripts/jquery-1.9.1.js"></script>*@
    <!-- jQuery -->
    @*<script type="text/javascript" src="~/Scripts/DataTables/jquery.dataTables.js"></script>*@
    <script type="text/javascript" src="~/Scripts/angular.js"></script>
    @*<script src="ng-file-upload-shim.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/angular-ui-router.js"></script>
    <script src="~/Scripts/angular-datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/angular-datatables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/dataTables.buttons.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/angular-datatables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/angular-datatables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/buttons.bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-datatables/buttons.print.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    @*<script src="~/Scripts/angular-toastr.tpls.js"></script>*@
    @*<script type="text/javascript" src="~/Scripts/angular-file-upload.js"></script>*@

    <script src="~/Scripts/angular-file-upload.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>    
    <script src="~/Scripts/angular-toastr.tpls.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    @*By parag*@
    <script src="http://kendo.cdn.telerik.com/2016.2.504/js/kendo.all.min.js"></script>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/pro.css" rel="stylesheet">
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.504/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.2.504/styles/kendo.common-material.min.css" />
    <!--Loader CSS-->
    <link href="~/Content/css/loading-bar.min.css" rel="stylesheet" />

    <!--Loader CSS End-->
    @Scripts.Render("~/bundles/allScripts")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular-validator.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <link href="~/Content/css/angular-toastr.css" rel="stylesheet" />
    <script src="~/Scripts/loading-bar.min.js"></script>
</body>
</html>
